
/* general rules */
section{
    margin-top: 10em;    
}

.cart-section {
    margin-top: 3em;
}

.container {
    margin-top: 3em;
}
main {
    margin-top: 7em;    
}
body {
    background-image: url("../images/background.jpg");
}


/* navbar */ 
#top-left-logo {
    height: 70px;
}


/* index */
.img-icon {
    width: 3em; 
    height: 3em;
}


/* view_product */
.img-gallery {
    width: 20% !important;
}


/* cart */
.cart {
    margin-top: 7em;
}


/* orders */
.order {
    margin-top: 7em;
}
/*
.progresses {
	display: flex;
	align-items: center
}
*/


/* products */
.card_product:hover .buttons {
	opacity: 1
}
.card_product {
	background-color:rgba(40, 40, 40, 0.8) !important;
	border: 1px solid black;
	cursor: pointer;
	transition: background .5s ease-out;
}

.card_product:hover {
	transform: scale(1.04);
	/* 
	z-index: 2;
	overflow: hidden;
	background-color:rgb(0, 0, 0, 1); 
	*/
}
.product_text {
	color: white;
	font-family:'Franklin Gothic Medium';
}



/* profile */
.user_profile_card {
	background-color: black;
}
.hover-card:hover {
	background-color: grey;
}



/* seller */
.seller-nav-pad {
    padding-bottom: 2em;
}


